---
layout: default
---

<section class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <article class="post-list__item">
          <header class="post-list__item-meta">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta"><span class="post-meta__date">{{ post.date | date: "%b %-d, %Y" }}</span>{% if post.categories %} // <span class="post-meta__categories">{{ post.categories }}</span>{% endif %}</span>
          </header>

          {% if post.description %}<p class="post-description">{{ post.description }}</p>{% endif %}

          <div class="post-list__more-link"><a href="{{ post.url | prepend: site.baseurl }}"><pre>==></pre></a></div>
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</section>
