//Clean sticky footer
html, body {
  height:100%;
}

main {
  width:100%;
  min-height:100%;
  height:auto !important;
  height:100%;
  margin:4em 0 0 0;
}

section {
  padding:1em;
  @media all and (min-width: 800px) {
    padding:2em;
  }
}

article {
  background-color:$base02;
  padding:1em;
}

html {
  background-color:$base03;
}

.wrapper {
  @extend .clearfix;
  position:relative;
  margin:0 auto;
  max-width:46em;
}

.site-header,
.site-footer {
  padding:1em 2em;
  .wrapper {
    @media all and (min-width:52em) {
      padding:0 2em;
    }
  }
}

.rss-subscribe {
  margin-top:1em;
  text-align:right;
}

.error404 .page-heading {
  display:block;
  text-align:center;
}

.error404 .language-javascript {
  margin:0 auto;
}
