<footer class="site-footer">

  <div class="wrapper">
    <div class="site-footer__copyright">
      &copy; {{site.time | date: '%Y'}} Tim Rourke
    </div>

    <div class="site-footer__social">
      <nav class="site-nav site-nav--footer">
        <ul>
          <li><a href="https://github.com/timrourke">GitHub</a></li>
          <li><a href="http://codepen.io/timothyrourke/">CodePen</a></li>
          <li><a href="http://timrourke.com">timrourke.com</a></li>
        </ul>
      </nav>
    </div>
  </div>

</footer>

<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,900' rel='stylesheet' type='text/css'>
