<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {%if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
  {%endif %}
  {% include opengraph.html %}

  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css" media="all">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ "/css/style-ie.css" | prepend: site.baseurl }}" type="text/css" media="all" />
  <![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="/js-build/global.min.js"></script>
</head>
