<nav class="site-nav site-nav--primary">
  <div class="wrapper">
    <ul>
      {% for navItem in site.data.nav %}
      {% capture current_page_url %}..{{ page.url | remove:'index.html' }}{% endcapture %}
      {% capture current_list_url %}..{{ navItem.href }}{% endcapture %}

        <li class="site-nav__item {% if current_page_url == current_list_url %}site-nav__item--current{% endif %}">
          <a href="..{{ navItem.href }}" title="{{ navItem.title }}">{{ navItem.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
