.breadcrumbs {
  @extend .clearfix;
  display:inline-block;
  position:absolute;
  top:10em;
  left:-2em;
  list-style-type:none;
  padding:0 0 2em 1em;
  overflow:hidden;
  z-index:1000;
  @media all and (min-width: 800px) {
    left:1em;
  }
}

.breadcrumbs__border {
  position:absolute;
  overflow:hidden;
  bottom:0.8em;
  left:1em;
  height:1.2em;
  padding-right:1em;
  width:100%;
}

.breadcrumbs li {
  float:left;
  display:inline-block;
  margin:0;
  padding:0;
}

.breadcrumb a {
  color:$base1;
}

.breadcrumb--sep {
  color:$base01;
}

.breadcrumb.breadcrumb--active a {
  color:$cyan !important;
}
