.post-meta,
.post-meta a {
  color:$violet;
}

.post-list {
  list-style-type:none;
}

.post-list__item {
  position:relative;
  margin-bottom:1em;
}

.post-list__item-meta {
  margin-bottom:1em;
}

.post-list__more-link {
  position:absolute;
  bottom:0;
  right:1em;
}

.post-list__more-link a {
  color:$cyan;
}
